.sidebar {
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    padding-right: 8px;

    -webkit-mask-image: linear-gradient(to top, transparent, #282b30),
        linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.sidebar:hover {
    -webkit-mask-position: left top;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}
